# Data Cleaning with Pandas

In this notebook we'll go through a few basic data cleaning steps that should be performed on all new datasets where necessary.

We'll go through the process with both the `orders` and `orderlines` datasets. You can then practice these skills by cleaning the `products` dataset yourself

In [1]:
import pandas as pd

In [2]:
# orders.csv
url = "https://drive.google.com/file/d/1Vu0q91qZw6lqhIqbjoXYvYAQTmVHh6uZ/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
orders = pd.read_csv(path)

# orderlines.csv
url = "https://drive.google.com/file/d/1FYhN_2AzTBFuWcfHaRuKcuCE6CWXsWtG/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
orderlines = pd.read_csv(path)

One of the best ways to begin data cleaning is by exploring using `.info()`. This will tell us:
* The shape of the DataFrame
* The names of the columns
* If there are any missing values
* The datatypes of the columns

By exploring the missing values and correcting any incorrect datatypes, we often come across inconsistencies in our data.

Beyond this, we should also have a **check for any duplicate rows**.

Let's first deal with the duplicates, as it's nice and easy, then we'll explore what `.info()` has to tell us.

## 1.&nbsp; Duplicates
We can check for duplicates using the pandas [.duplicated()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html) method.

We can then delete these rows, if we wish, using [.drop_duplicates()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html)

In [3]:
# orders
orders.duplicated().sum()

0

In [4]:
# orderlines
orderlines.duplicated().sum()

0

We have no duplicate rows in either DataFrame. Easy, there is no problem to solve. Normally though, if there were some duplicates, we'd drop the extra rows.

# 2.&nbsp; `.info()`

In [5]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226909 entries, 0 to 226908
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      226909 non-null  int64
 1   created_date  226909 non-null  object
 2   total_paid    226904 non-null  float64
 3   state         226909 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 6.9+ MB

* `total_paid` has 5 missing values
* `created_date` should become datetime datatype

In [6]:
orderlines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293983 entries, 0 to 293982
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                293983 non-null  int64
 1   id_order          293983 non-null  int64
 2   product_id        293983 non-null  int64
 3   product_quantity  293983 non-null  int64
 4   sku               293983 non-null  object
 5   unit_price        293983 non-null  object
 6   date              293983 non-null  object
dtypes: int64(4), object(3)
memory usage: 15.7+ MB

* `date` should be a datetime datatype
* `unit_price` should be a float datatype

## 3.&nbsp; Missing values

### 3.1.&nbsp; Orders
* `total_paid` has 5 missing values

In [7]:
print(f"5 missing values represents {((orders.total_paid.isna().sum() / orders.shape[0])*100).round(5)}% of the rows in our DataFrame")

5 missing values represents 0.0022% of the rows in our DataFrame

A quick way to find out a percentage here, if you don't need to print out a sentence for yourself/students/colleagues is `.value_count(normalize=True)`

In [8]:
orders.total_paid.isna().value_counts(normalize=True)

False    0.999978
True     0.000022
Name: total_paid, dtype: float64

As there is such a tiny amount of missing values, we will simply delete these rows, as we have enough data without them.

In [9]:
orders = orders.loc[~orders.total_paid.isna(), :]

Should you have a significant number of missing values in the future, you have a choice:
+ you can impute the values
+ you can take the values from other DataFrames, if they are present there
+ you can delete the values
+ or any number of other creative solutions

Please, always consider how much time you have on your project, and what impact your method of choice will have on your final assesment.

### 3.2.&nbsp; Orderlines
There are no missing values in `orderlines`

## 4.&nbsp; Datatypes

### 4.1.&nbsp; Orders
* `created_date` should become datetime datatype

In [10]:
orders["created_date"] = pd.to_datetime(orders["created_date"])

### 4.1.&nbsp; Orderlines
* `date` should be a datetime datatype
* `unit_price` should be a float datatype

#### 4.1.1.&nbsp; `date`

In [11]:
orderlines["date"] = pd.to_datetime(orderlines["date"])

#### 4.1.2.&nbsp;`unit_price`

In [12]:
orderlines["unit_price"] = pd.to_numeric(orderlines["unit_price"])

ValueError: ignored

As you can see when we try to convert `unit_price` to a numerical datatype, we receive a `ValueError` telling us that pandas doesn't understand the number `1.137.99`. This is probably because numbers cannot have 2 decimal points. Let's see if there are any other numbers like this.

In [13]:
orderlines.unit_price.str.contains("\d+\.\d+\.\d+").value_counts()

False    257814
True      36169
Name: unit_price, dtype: int64

Looks like over 36000 rows in `orderlines` are affected by this problem. Let's work out how much that is as a percentage of our total data.

In [14]:
two_dot_percentage = ((orderlines.unit_price.str.contains("\d+\.\d+\.\d+").value_counts()[1] / orderlines.shape[0])*100).round(2)
print(f"The 2 dot problem represents {two_dot_percentage}% of the rows in our DataFrame")

The 2 dot problem represents 12.3% of the rows in our DataFrame

This is a bit of a tricky decision as 12.3% is a significant amount of our data... and we might even end up losing a larger portion of our data than this too. For the moment we will delete the rows as we only have 2 weeks for this project and I'd like some quick, accurate results to show. If we have time at the end, we can come back and investigate this problem further, maybe there's a solution?

Each row of `orderlines` represents a product in an order. For example, if order number 175 contained 3 seperate products, then order 175 would have 3 rows in `orderlines`, one row for each of the products. If 2 of those products have 'normal' prices (14.99, 15.85) and 1 has a price with 2 decimal points (1.137.99), we need to remove the whole order and not just the affected row. If we only remove the row with 2 decimal places then any later analysis about products and prices could be misleading.

We therefore need to find the order numbers associated with the rows that have 2 decimal points, and then remove all the associated rows.

In [15]:
two_dot_order_ids_list = orderlines.loc[orderlines.unit_price.str.contains("\d+\.\d+\.\d+"), "id_order"]
orderlines = orderlines.loc[~orderlines.id_order.isin(two_dot_order_ids_list)]

In [17]:
orderlines.shape[0]

216250

We still have 216250 rows in orderlines to work with. This should be more than enough for our evaluation.

Now that all of the 2 decimal point prices have been removed, let's try again to convert the column `unit_price` to the correct datatype.

In [18]:
orderlines["unit_price"] = pd.to_numeric(orderlines["unit_price"])

It worked perfectly

# Challenge: Clean the `products` DataFrame
Now it's your turn. Use the lessons you learnt above and clean the products DataFrame. You don't have to copy exactly what we did. Think about the consequences of your actions, sometimes it is ok to delete rows, other times you may wish to come up with more creative solutions.

In [19]:
# products.csv
url = "https://drive.google.com/file/d/1afxwDXfl-7cQ_qLwyDitfcCx3u7WMvkU/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
products = pd.read_csv(path)

In [20]:
products.head()

,sku,name,desc,price,promo_price,in_stock,type
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,499.899,1,8696
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59,589.996,0,13855401
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59,569.898,0,1387
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25,229.997,0,1230
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,34.99,31.99,1,1364

In [21]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19326 entries, 0 to 19325
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sku          19326 non-null  object
 1   name         19326 non-null  object
 2   desc         19319 non-null  object
 3   price        19280 non-null  object
 4   promo_price  19326 non-null  object
 5   in_stock     19326 non-null  int64
 6   type         19276 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.0+ MB

We'll go through the steps above in order
* Duplicates
* Missing values
* Datatypes

But I think we can all see straight away from `products.head()` above that some of the prices in `promo_price` look wrong. Let's make sure we deal with this later.

## Duplicates

In [22]:
products.duplicated().sum()

8746

Wow, that's a lot of duplicates. Let's get rid of them.

In [23]:
products = products.drop_duplicates()

## `.info()`

In [24]:
products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10580 entries, 0 to 19325
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sku          10580 non-null  object
 1   name         10580 non-null  object
 2   desc         10573 non-null  object
 3   price        10534 non-null  object
 4   promo_price  10580 non-null  object
 5   in_stock     10580 non-null  int64
 6   type         10530 non-null  object
dtypes: int64(1), object(6)
memory usage: 661.2+ KB

### Missing values
We can see from `.info()` above that we have missing values in `desc` and `price`

#### `desc`

In [25]:
products["desc"].isna().sum()

7

7 is a very small number to have missing, let's have a closer look

In [26]:
products.loc[products['desc'].isna(), :]

,sku,name,desc,price,promo_price,in_stock,type
16126,WDT0211-A,"Open - Purple 2TB WD 35 ""PC Security Mac hard ...",NaN,107,814.659,0,1298
16128,APP1622-A,Open - Apple Smart Keyboard Pro Keyboard Folio...,NaN,1.568.206,1.568.206,0,1298
17843,PAC2334,Synology DS718 + NAS Server | 10GB RAM,NaN,566.35,5.659.896,0,12175397
18152,KAN0034-A,Open - Kanex USB-C Gigabit Ethernet Adapter Ma...,NaN,29.99,237.925,0,1298
18490,HTE0025,Hyper Pearl 1600mAh battery Mini USB Mirror an...,NaN,24.99,22.99,1,1515
18612,OTT0200,OtterBox External Battery Power Pack 20000 mAHr,NaN,79.99,56.99,1,1515
18690,HOW0001-A,Open - Honeywell thermostat Lyric zonificador ...,NaN,199.99,1.441.174,0,11905404

We have 2 choices here:
* We can quickly and easily remove these rows.
* Or, alternatively, the products names here are quite descriptive, so I'm tempted to just copy them to the description column, so that there is a description if we later want utilise this column. I wouldn't recommend this if this DataFrame was the source of truth for our website. But this is not the case here, and we're not faking any information (guessing a price or so), so I'm happy with this option

In [27]:
products.loc[products['desc'].isna(), 'desc'] = products.loc[products['desc'].isna(), 'name']

Did you also notice above that we have the dreaded two decimal point problem in both the `price` and `promo_price` columns? We can also see prices with 3 decimal places, prices should have 2 decimal places: this gives us more cause for concern

#### `price`

In [28]:
products.price.isna().sum()

46

In [29]:
print(f"The missing values in price are {(products.price.isna().value_counts(normalize=True)[1] * 100).round(2)}% of all rows in the DataFrame")

The missing values in price are 0.43% of all rows in the DataFrame

Let's simply delete these rows to ensure that we can trust the numbers in our final DataFrame. Afterall, the price is very important when investigating discounts.

Option 1: `.loc`

In [30]:
products = products.loc[~products['price'].isna()]

Option 2: `.dropna()`

In [31]:
# products = products.dropna(subset=['price'])

### Data types

We saw from looking at the output of `.info()` that both `price` and `promo_price` have been stored as objects and not as a numerical datatypes. We also saw while solving other problems that both columns have some prices with 3 decimal places and others with 2 decimal points - the latter will prevent us from converting the datatype to numerical, so first we must investigate and solve these problems.

#### `price`

First, let's see how many values are affected by the 2 problems or 3 decimal places.

In [32]:
price_problems_number = products.loc[(products.price.astype(str).str.contains("\d+\.\d+\.\d+"))|(products.price.astype(str).str.contains("\d+\.\d{3,}")), :].shape[0]
price_problems_number

542

In [33]:
print(f"The column price has in total {price_problems_number} wrong values. This is {round(((price_problems_number / products.shape[0]) * 100), 2)}% of the rows of the DataFrame")

The column price has in total 542 wrong values. This is 5.15% of the rows of the DataFrame

5.15% is a reasonable amount of our data. However, the price column will be important to understanding discounts, so I'd like it to be very trustworthy as we are basing business decisions on it. Therefore, we'll delete these rows

In [34]:
products = products.loc[(~products.price.astype(str).str.contains("\d+\.\d+\.\d+"))&(~products.price.astype(str).str.contains("\d+\.\d{3,}")), :]

In [35]:
products

,sku,name,desc,price,promo_price,in_stock,type
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,499.899,1,8696
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59,589.996,0,13855401
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59,569.898,0,1387
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25,229.997,0,1230
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,34.99,31.99,1,1364
...,...,...,...,...,...,...,...
19321,BEL0376,Belkin Travel Support Apple Watch Black,compact and portable stand vertically or horiz...,29.99,269.903,1,12282
19322,THU0060,"Enroute Thule 14L Backpack MacBook 13 ""Black",Backpack with capacity of 14 liter compartment...,69.95,649.903,1,1392
19323,THU0061,"Enroute Thule 14L Backpack MacBook 13 ""Blue",Backpack with capacity of 14 liter compartment...,69.95,649.903,1,1392
19324,THU0062,"Enroute Thule 14L Backpack MacBook 13 ""Red",Backpack with capacity of 14 liter compartment...,69.95,649.903,0,1392
19325,THU0063,"Enroute Thule 14L Backpack MacBook 13 ""Green",Backpack with capacity of 14 liter compartment...,69.95,649.903,1,1392

To complete our task, let's convert the column to a numeric datatype

In [36]:
products["price"] = pd.to_numeric(products["price"])

<ipython-input-36-419e6d5d3dc8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  products["price"] = pd.to_numeric(products["price"])

In [37]:
# n_error_price = products.loc[pd.to_numeric(products['price'], errors="coerce").isna(),"sku"].count()
# n_error_promo_price = products.loc[pd.to_numeric(products['promo_price'], errors="coerce").isna(),"sku"].count()

# print(f"Corrupted values in price: {n_error_price}, {round(n_error_price/products['sku'].count()*100,3)} %")
# print(f"Corrupted values in promo_price: {n_error_promo_price}, {round(n_error_promo_price/products['sku'].count()*100,3)} %")

#### `promo_price`

Again, let's begin by seeing how many values are affected by the 2 problems, or the 3 decimal problem

In [38]:
promo_problems_number = products.loc[(products.promo_price.astype(str).str.contains("\d+\.\d+\.\d+"))|(products.promo_price.astype(str).str.contains("\d+\.\d{3,}")), :].shape[0]
promo_problems_number

9232

In [39]:
print(f"The column promo_price has in total {promo_problems_number} wrong values. This is {round(((promo_problems_number / products.shape[0]) * 100), 2)}% of the rows of the DataFrame")

The column promo_price has in total 9232 wrong values. This is 92.39% of the rows of the DataFrame

WOW!!! That's a lot of wrong data. Let's have a quick investigate to check that's correct. We'll make a DataFrame by copy-pasting the code we used above and then look at a large sample to check that all the numbers in the `promo_price` column really have either 2 decimal points or 3 decimal places.

In [40]:
promo_price_df = products.loc[(products.promo_price.astype(str).str.contains("\d+\.\d+\.\d+"))|(products.promo_price.astype(str).str.contains("\d+\.\d{3,}")), :]
promo_price_df.sample(50)

,sku,name,desc,price,promo_price,in_stock,type
11447,CRU0039-A,(Open) Crucial 240GB SSD 7mm BX200,SSD hard drive and high-speed performance with...,76.99,707.001,0,1298
13333,APP1665,32GB Apple iPhone 6s Rose Gold,New 32GB iPhone 6S Libre.,529.00,5.190.005,1,24821716
15106,EIZ0020,"Eizo ColorEdge CG277 Monitor 27 ""QHD AdobeRGB 99%",professional 27-inch monitor for photo printin...,2328.04,18.669.889,0,1296
16786,APP2211,"Apple iMac 21.5 ""Core i7 4K Retina 36Ghz | 32G...",PC 215 inch iMac RAM 32GB SSD 1TB PCle,3499.00,32.890.051,0,"2,16E+11"
18656,KAN0060,Kanex GoPlay Sidekick Game Controller iPhone i...,Classic gamepad controls for iPhone iPad and A...,79.00,729.896,0,11905404
2400,DEV0014,Devolo dLAN 1200+ WiFi ac PLC,Powerline adapter with integrated socket.,129.99,1.169.901,1,1334
13280,GRT0430,Griffin Survivor iPhone Case Clear 7 Clear,Resistant polycarbonate transparent cover for ...,24.99,129.894,1,11865403
1925,PAC0663,Crucial MX200 250GB expansion kit + 8GB 1066Mh...,Expansion kit Macbook / Pro (2009/10) 8GB 1066...,278.96,2.379.901,0,1433
18466,APP2697,"Apple iMac Pro 27 ""8-core Intel Xeon W 32GHz |...",Pro iMac 27 inch screen Retina 5K and Intel Xe...,11739.00,11.035.004,0,118692158
11911,BEL0204,MIXIT Belkin USB wall charger 24A Metallic Gold,Metallic USB charger for iPad and iPhone,19.99,179.891,1,13615399
645,SEA0057,"Seagate 500GB SSHD Hybrid disc 25 ""Mac and PC ...",Hybrid Hard Drive Mac and PC and 7mm 500GB SSH...,79.99,765.809,0,12655397
1122,NTE0072,NewerTech Lightning to USB Cable 1m White,Lightning USB cable 1 meter to charge and sync...,29.99,149.895,0,1230
11546,BEA0037,Beats by Dr. Dre Headphones Silver Luxe Alone 2,High-definition headphones with ultranitda Re...,199.95,1.999.005,0,5384
15352,REP0280,Microphone repair iPhone 5s,Repair service including parts and labor for i...,49.99,499.899,0,"1,44E+11"
17548,XDO0049,X-Doria Defense Shield iPhone Case 8 Plus / 7 ...,Durability that combines polycarbonate and ano...,32.99,259.896,0,11865403
11590,SYN0134,Synology RackStation RS2416 +,12-bay NAS server optimized for data storage o...,1669.99,16.599.905,0,12175397
18461,APP2692,"Apple iMac Pro 27 ""18-core Intel Xeon W 23GHz ...",Pro iMac 27 inch screen Retina 5K and Intel Xe...,12699.00,119.370.045,0,118692158
14961,SAN0167,Sandisk Extreme Memory Card microSDHC UHS-I 32...,Micro memory card reading speed 90MB / s and s...,29.99,232.804,0,57445397
13414,APP1693,Leather Case Cover Apple iPhone 7 Plus Gray Storm,ultrathin leather case and microfiber premium ...,59.00,479.995,0,11865403
11248,PAC1343,Pack QNAP TS-453A | 8GB RAM | WD 24TB Network,QNAP NAS TS-453A with 8GB of RAM memory + 24TB...,1720.59,14.593.677,0,12175397
15226,8MO0011,8Mobility iSlice Micro SD Adapter MacBook Pro ...,Micro SD card adapter for MacBook Pro Retina 1...,35.00,199.904,1,12585395
7433,PAC1619,"Apple iMac 27 ""Core i5 3.3GHz Retina 5K | 8GB ...",Desktop computer iMac 27-inch 3.3GHz Core i5 5...,3649.00,32.189.896,0,"5,74E+15"
18798,APP1756-A,"Open - Apple iPad Silicone Cover Case Pro 97 ""...",Silicone Reconditioned light and soft touch fo...,79.00,629.689,0,12635403
13556,APP1782,Apple Watch Series 1 42mm Aluminum Silver Case...,Apple Watch Series 1 sports-strap 42 mm black ...,299.00,2.930.003,0,24895185
17645,GRT0395-A,Open - Griffin Cable USB-C to USB-A 1m Black,USB-C Cable USB-A 1m for Macbook.,19.99,92.469,0,1298
12020,SAN0123,Sandisk Extreme Pro 256GB SDXC Memory Card UHS...,Memory card SDXC UHS Class 3 256GB speeds 95MB...,169.99,1.552.805,0,57445397
11738,QNA0168,QNAP TS-228 NAS server Mac and PC,2-bay NAS server for small businesses and home...,140.99,1.409.892,0,12175397
10725,APP1452,Apple iPad Case Silicone Case Mini 4 Turquoise,Protective cover for cases ultrafine 4 mini si...,69.00,640.005,0,12635403
13209,PAC1519,Pack QNAP TS-451A NAS 2GB RAM l l 16TB (4x4TB)...,NAS with 2GB of RAM and hard disks 4 4TB for M...,1122.99,9.213.678,1,12175397
1447,PAC0550,Samsung SSD 850 expansion kit PRO 256GB + Data...,256GB + SSD expansion Datadoubler MacBook Late...,247.98,1.845.843,0,1433
45,MOB0009,Mobee Magic Numpad for the Magic Trackpad,3 Numeric for Magic Trackpad stickers.,29.49,279.873,0,12355400
16643,APP2120,"Apple iPad Pro 12.9 ""Wi-Fi + Cellular 256GB Sp...",New iPad Pro 256GB Wi-Fi,1229.00,11.920.013,0,51861714
15149,GTE0097,G-Technology G-SPEED Shuttle XL 36TB RAID Thun...,External Storage 36TB (6x6TB) with 2 serial ad...,3676.99,29.999.941,0,11935397
17012,PAC1693,Pack QNAP TS-251A NAS Server | 16 GB,NAS with 16GB of RAM for Mac and PC,491.67,4.639.902,0,12175397
15412,REP0324,battery repair iPhone 6s Plus,Repair service including parts and labor for i...,49.99,499.899,0,"1,44E+11"
14871,NTE0113,NewerTech Kensington Adapter for MacBook Pro R...,Kensington slot adapter for MacBook Pro Retina...,34.99,249.901,0,12585395
17963,SPH0020,Mini Sphero robotic sphere Blue,Smartoy sphere bluetooth remote control for iP...,59.99,539.902,0,11905404
593,IKM0024,IK Multimedia Studio iKlip iPad support,Support iPad 1 2 3 4 and Air multiposition table.,36.59,299.003,0,1216
3080,APP1158,Case Apple iPhone 6 Plus / 6s Plus Silicone Ca...,Ultrathin silicone case and microfiber premium...,45.00,420.003,0,11865403
1619,TWS0075,Twelve South SurfacePad Case iPhone 6 / 6S White,Lockable card case cover for iPhone 6 type book.,49.99,369.897,0,11865403
14790,PAC1721,Pack QNAP TS-451A NAS RAM 16GB l l 16TB (4x4TB...,NAS TS-451A with 16GB of RAM and Hard 24TB (4x...,1756.43,14.173.686,0,12175397
1304,MOS0128,Moshi iGlaze Case for iPhone 6 / 6S Blue,Rigid shell shock protection and rasgu os f...,30.00,199.904,0,11865403
13785,ADN0048,Adonith Snap Pointer Bluetooth White,Egonmico pointer lightweight design and magne...,34.99,299.899,1,1229
18097,PAC2462,DS218play Synology NAS Server | 4TB (2x2TB) Se...,2-bay NAS server can accommodate 4K Ultra HD f...,460.97,3.941.793,0,12175397
2553,BOS0018,Bose SoundLink Color Black Speaker,Bluetooth wireless speaker for iPhone iPad and...,139.00,1.089.992,0,5398
1926,PAC0664,Samsung SSD 850 expansion kit EVO 250GB + 8GB ...,250GB SSD expansion kit + RAM + 8GB 1066Mhz Da...,355.96,2.495.843,1,1433
15607,APP1975,Apple iPad Wi-Fi 128GB Silver,New iPad Wi-Fi 128GB Silver (MP2J2TY / A),502.81,487.002,0,1714
13793,APP1838,"Apple MacBook Pro 13 ""Core i5 with Touch Bar 3...",New MacBook Pro 13-inch Core i5 Touch Bar to 3...,2119.00,17.555.938,0,2158
11390,PAC1836,Synology DS416J | 32TB (4x8TB) WD Red,Synology DS416j 32TB (4x8TB) WD Red hard drive...,1750.99,14.283.675,0,12175397
2617,NUD0010,Nude Move M Audio Speaker Black,Compact Portable Bluetooth speaker with 8 hour...,49.99,359.854,0,5398

So we were correct, over 90% of the data in this column is corrupt. There's no point deleting all of these rows, then we would barely have a products table. Instead, as it's only this column that appears to be very untrustworthy, we will delete the column.

In [41]:
products_cl = products.drop(columns=["promo_price"])

In [42]:
products_cl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9992 entries, 0 to 19325
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sku       9992 non-null   object
 1   name      9992 non-null   object
 2   desc      9992 non-null   object
 3   price     9992 non-null   float64
 4   in_stock  9992 non-null   int64
 5   type      9946 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 546.4+ KB

Obviously, there's now no need to convert `promo_price` to a numerical datatype

Don't forget to download/save your new DataFrames. Also, give them an obvious name, so that you know they are the cleaned version and not the original DataFrame.

In [ ]:
from google.colab import files

orders.to_csv("orders_cl.csv", index=False)
files.download("orders_cl.csv")

orderlines.to_csv("orderlines_cl.csv", index=False)
files.download("orderlines_cl.csv")

products_cl.to_csv("products_cl.csv", index=False)
files.download("products_cl.csv")